<section class="d-flex justify-content-center align-items-center h-100" style="margin-top: -64px;" *ngIf="(projects$ | async) as projects; else loading">

	<div class="container" *ngFor="let project of projects">

		<div class="card" style="width: 18rem; margin: auto;">
			<img src="{{ project.Image[0].url }}" class="card-img-top" alt="click!">
			<div class="card-body">
				<h2 class="card-title">{{ project.Title }}</h2>
				<p class="card-text">{{ project.Description }}</p>
			</div>	
		</div>		
	</div>

</section>

<ng-template #loading>
    <div class="d-flex justify-content-center align-items-center h-100" style="margin-top: -64px;">loading...</div>
</ng-template>