<mat-toolbar class="mat-elevation-z6" color="primary">
	<a href="/" routerLink="/"><h1 class="title px-2">Techni Pedro</h1></a>

	<span class="filler"></span>

	<button class="mx-2 text-uppercase" mat-stroked-button routerLink="/about">About</button>
</mat-toolbar>

<router-outlet></router-outlet>